Repository MrScripty/Pumas-Library: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

check-print-statements:
  name: Check for print statements in Python files
  entry: python3 .pre-commit-hooks/check_print_statements.py
  language: system

check-generic-exceptions:
  name: Check for generic exception handlers in Python files
  entry: python3 .pre-commit-hooks/check_generic_exceptions.py
  language: system

ruff-undefined:
  name: ruff (undefined names)
  entry: ./venv/bin/python -m ruff check --select F821,F822,F823
  language: system

mypy:
  name: mypy (type checking)
  entry: ./venv/bin/python -m mypy
  language: system
  pass_filenames: false

feat(network): add retry logic with exponential backoff
  backend/model_library/network/retry.py
  tests/unit/model_library/network/test_retry.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(network): add NetworkManager coordinator
  backend/model_library/network/manager.py
  tests/unit/model_library/network/test_network_manager.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

docs: update progress - networking infrastructure complete
  backend/model_library/network/__init__.py
  docs/plans/model-library/PROGRESS.md
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(search): add FTS5 virtual table setup and migration
  backend/model_library/search/fts5.py
  tests/unit/model_library/search/test_fts5.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(search): add search query builder with prefix matching
  backend/model_library/search/query.py
  tests/unit/model_library/search/test_query.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

chore(search): update search package exports
  backend/model_library/search/__init__.py
  tests/unit/model_library/search/test_search_package.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

docs: update progress - search infrastructure complete
  docs/plans/model-library/PROGRESS.md
Due: none

refactor(importer): use io/hashing for efficient dual hash computation
  backend/copy-files-to-clipboard_recursive.sh
  backend/model_library/importer.py
  docs/plans/model-library/copy.sh
  tests/unit/model_library/test_importer.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(library): add FTS5 full-text search support
  backend/model_library/library.py
  tests/unit/model_library/test_library.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

refactor(mapper): use io/platform for link creation
  backend/model_library/mapper.py
  tests/unit/model_library/test_mapper.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(naming): add NTFS sanitization functions
  backend/model_library/naming.py
  tests/unit/model_library/test_naming.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

docs: update progress - Part 4 complete
  docs/plans/model-library/PROGRESS.md
Due: none

feat(api): add FTS5 search, batch import, and network status endpoints
  backend/api/core.py
  backend/resources/resource_manager.py
  docs/plans/model-library/PROGRESS.md
  tests/unit/api/test_core_model_library.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(frontend): add model import drag-and-drop UI
  docs/plans/model-library/ACTIVE_SESSION.md
  docs/plans/model-library/PROGRESS.md
  frontend/src/api/import.ts
  frontend/src/components/ModelImportDialog.tsx
  frontend/src/components/ModelImportDropZone.tsx
  frontend/src/components/ModelManager.tsx
  frontend/src/hooks/useModels.ts
  frontend/src/index.css
  frontend/src/types/pywebview.d.ts
Due: none

feat(registry): add LinkRegistry for tracking model symlinks
  backend/model_library/link_registry.py
  backend/model_library/mapper.py
  tests/unit/model_library/test_link_registry.py
  tests/unit/model_library/test_mapper.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

docs: update progress - Phase 1B Part 1 complete
  docs/plans/model-library/PROGRESS.md
Due: none

feat(api): add link health and cascade delete API endpoints
  backend/api/core.py
  backend/resources/resource_manager.py
  tests/unit/api/test_core_model_library.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(frontend): add link health status UI component
  frontend/src/App.tsx
  frontend/src/components/LinkHealthStatus.tsx
  frontend/src/components/ModelManager.tsx
  frontend/src/types/pywebview.d.ts
Due: none

docs: update progress - Phase 1B complete
  docs/plans/model-library/PROGRESS.md
Due: none

feat(mapper): add basic link mapping system (Phase 1C)
  backend/api/core.py
  backend/model_library/__init__.py
  backend/model_library/mapper.py
  backend/resources/resource_manager.py
  backend/tests/test_model_library_mapper.py
  docs/plans/model-library/00-overview.md
  docs/plans/model-library/PROGRESS.md
  frontend/src/components/MappingPreview.tsx
  frontend/src/types/pywebview.d.ts
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(io): add WAL mode, checkpointing, throttle, and semaphore I/O control
  backend/model_library/hf/__init__.py
  backend/model_library/hf/throttle.py
  backend/model_library/index.py
  backend/model_library/io/__init__.py
  backend/model_library/io/manager.py
  tests/unit/model_library/hf/test_throttle.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(io): add atomic imports, deep scan, sandbox detection, and metadata cache
  backend/model_library/hf/__init__.py
  backend/model_library/hf/cache.py
  backend/model_library/importer.py
  backend/model_library/io/__init__.py
  backend/model_library/io/validator.py
  backend/model_library/library.py
  tests/unit/model_library/hf/test_cache.py
  tests/unit/model_library/io/test_validator.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(import): add HF metadata lookup, sharded sets, and file validation
  backend/api/core.py
  backend/model_library/downloader.py
  backend/model_library/importer.py
  backend/model_library/library.py
  backend/models.py
  backend/resources/resource_manager.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(frontend): enhance ModelImportDialog with HF metadata lookup
  frontend/src/api/import.ts
  frontend/src/components/ModelImportDialog.tsx
  frontend/src/types/pywebview.d.ts
Due: none

test(import): add tests for sharded sets and file type validation
  tests/unit/model_library/test_importer.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined

feat(mapping): add apply mapping API and enhanced MappingPreview UI
  backend/api/core.py
  backend/resources/resource_manager.py
  frontend/src/components/MappingPreview.tsx
  frontend/src/components/MappingPreviewDialog.tsx
  frontend/src/types/pywebview.d.ts
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(mapping): add sandbox detection API and unit tests
  backend/api/core.py
  backend/tests/test_model_library_mapper.py
  backend/tests/test_resource_manager.py
  frontend/src/components/MappingPreviewDialog.tsx
  frontend/src/types/pywebview.d.ts
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(mapping): add interactive conflict resolution dialog (Phase 3B)
  backend/api/core.py
  backend/model_library/mapper.py
  backend/resources/resource_manager.py
  frontend/src/components/ConflictResolutionDialog.tsx
  frontend/src/components/MappingPreview.tsx
  frontend/src/types/pywebview.d.ts
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(network): add async HTTP client with HTTP/2 support (Phase 4B)
  backend/model_library/network/__init__.py
  backend/model_library/network/http_client.py
  tests/unit/model_library/network/test_http_client.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(hooks): add SWR pattern to useModels hook (Phase 4C)
  frontend/src/hooks/useModels.ts
Due: none

feat(network): add network status indicators and httpx dependency (Phase 5)
  backend/api/core.py
  frontend/src/components/ModelManager.tsx
  frontend/src/components/NetworkStatusBanner.tsx
  frontend/src/hooks/useNetworkStatus.ts
  frontend/src/types/pywebview.d.ts
  requirements.txt
  tests/unit/api/test_core_model_library.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(search): wire up HF metadata cache to search_models
  backend/model_library/hf/search.py
  tests/conftest.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(import): add model import via file picker and expose import APIs
  backend/main.py
  frontend/src/App.tsx
  frontend/src/components/ModelImportDropZone.tsx
  frontend/src/components/ModelManager.tsx
  frontend/src/components/ModelSearchBar.tsx
  frontend/src/types/pywebview.d.ts
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(import): add content-based model type detection using gguf library
  backend/model_library/importer.py
  backend/model_library/model_identifier.py
  backend/resources/resource_manager.py
  tests/unit/model_library/test_importer.py
  tests/unit/model_library/test_model_identifier.py
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

fix(api): add missing gguf dependency and improve error resilience
  backend/main.py
  backend/model_library/model_identifier.py
  frontend/src/hooks/useModels.ts
  requirements.txt
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

fix(dnd): resolve GTK/WebKit drag-drop freeze on Linux
  backend/main.py
  frontend/src/App.tsx
  frontend/src/components/ModelManager.tsx
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(electron): Electron Migration - initial framework and Python sidecar
  backend/rpc_server.py
  backend/tests/test_rpc_server.py
  docs/plans/electron/migration-plan.md
  electron/.gitignore
  electron/package-lock.json
  electron/package.json
  electron/src/main.ts
  electron/src/preload.ts
  electron/src/python-bridge.ts
  electron/tsconfig.json
  frontend/src/api/adapter.ts
  frontend/src/types/pywebview.d.ts
  frontend/vite.config.ts
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

feat(electron): add launcher update API and fix Electron compatibility
  backend/api/core.py
  backend/rpc_server.py
  electron/src/python-bridge.ts
  frontend/index.html
  frontend/src/components/AppIcon.tsx
  frontend/src/components/ComfyUIIcon.tsx
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

refactor(electron): remove PyWebView, complete Electron migration
  backend/main.py
  comfyui-setup.spec
  docs/THIRD-PARTY-NOTICES.md
  frontend/src/api/adapter.ts
  frontend/src/api/pywebview.ts
  requirements-lock.txt
  requirements.txt
Due: check-print-statements, check-generic-exceptions, ruff-undefined, mypy

refactor(frontend): migrate all API calls from pywebview to adapter
  frontend/src/App.tsx
  frontend/src/api/adapter.ts
  frontend/src/api/import.ts
  frontend/src/api/models.ts
  frontend/src/api/versions.ts
  frontend/src/components/ConflictResolutionDialog.tsx
  frontend/src/components/InstallDialog.tsx
  frontend/src/components/LinkHealthStatus.tsx
  frontend/src/components/MappingPreview.tsx
  frontend/src/components/MappingPreviewDialog.tsx
  frontend/src/components/ModelImportDialog.tsx
  frontend/src/components/ModelImportDropZone.tsx
  frontend/src/components/ModelManager.tsx
  frontend/src/components/VersionSelector.tsx
  frontend/src/hooks/useComfyUIProcess.ts
  frontend/src/hooks/useDiskSpace.ts
  frontend/src/hooks/useInstallationManager.ts
  frontend/src/hooks/useInstallationProgress.ts
  frontend/src/hooks/useModelDownloads.ts
  frontend/src/hooks/useModels.ts
  frontend/src/hooks/useNetworkStatus.ts
  frontend/src/hooks/useRemoteModelSearch.ts
  frontend/src/hooks/useStatus.ts
  frontend/src/hooks/useVersionFetching.ts
  frontend/src/hooks/useVersions.ts
  frontend/src/types/api.d.ts
Due: none

Path conditions:
  check-print-statements: any of: \.py$ and \.py$
  check-generic-exceptions: any of: \.py$ and \.py$
  ruff-undefined: any of: \.py$
  mypy: any of: ^backend/ and \.py$ and not (^(venv/|\.venv/|env/|\.env/|tests/|manual-tests/))
